HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.vertx
out

#/src/main/resources/application-prod.yml
/src/main/resources/application-default.yml

/storage*
/logs
/bin
/file-uploads
/reader-assets
/.lh/

/server/logs
/server/storage
/server/target
target/
target_*/
*.txt

front_*.log
front_out.log
front_err.log
d_out.log
d_err.log
d2_out.log
d2_err.log
wd_out.log
wd_err.log
sec_out.log
sec_err.log
sec2_out.log
sec2_err.log
HANDOVER.md

